$color-primary: #053769;
$color-secondary: #395268;
$color-pale: #8C97A1;
$color-mid: #333333;
$color-dark: #000000;
$color-black-transparent: rgba(0,0,0,0.5);
$color-maize: #F1C644;

// font-family: 'Arimo', sans-serif;
// font-family: 'Lexend Mega', sans-serif;
// font-family: 'Outfit', sans-serif;
// font-family: 'Readex Pro', sans-serif;

$body-font: "Readex Pro", sans-serif;
$header-font: "Arimo", sans-serif;

body {
  font-family: $body-font;
}

h2, h3 {
  font-family: $header-font;
}

h1 {
  font-family: "", sans-serif;
  font-weight: 900;
}

a, a:hover {
  color: $color-maize;
  text-decoration: none;
}

li {
  list-style: none;
}

.btn-link {
  color: $color-maize;
}

.btn-link:hover {
  color: rgba(241, 198, 68, 0.5);
  text-decoration: none;
}

header {
    h2 {
      color: $color-primary;
    }
}

header h4 {
  color: $color-pale;
}

.img-thumbnail {
  max-width:25%;
  border: none; 
}
@media only screen and (max-width: 768px) {
  .img-thumbnail{
    max-width: 75%;
  }
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(241, 198, 68, 0.5);
   
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
  color: $color-maize;
  border-bottom: 5px solid $color-maize; 
}

.jumbotron {
  padding: 30px;
  background-color: $color-primary;
  color: white;
  margin: 0;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge rgba(88, 87, 87, 0.5);
  min-height: 200px;
}

.navbar {
  background-color: $color-primary;
}

.tab-content {
  border: 1px solid #DDD;
  border-top: none;
  padding: 10px;
}

.carousel-caption {
  background-color: $color-black-transparent;
}

@media only screen and (max-width: 768px) {
  .carousel-caption h3, .carousel-caption p {
    font-size: large;
  }
}

div.carousel-item.active{
    display: flex;
    justify-content: center;
}

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
}

#reserveModal {
  .modal-header {
      background-color: $color-maize;
      color: white;
  }
}

#reserveButton{
  background-color: $color-maize;
}

#loginModal {
  .modal-header {
      background-color: $color-mid;
      color: white;
  }
}
 
.container {
  margin-left: auto;
  margin-right: auto;
}

.landing {
  background-image: url("../img/dock-shipment-chllc.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-text {
  background:rgba(255, 255, 255, 0.4);
  border-radius: 0.5rem;
  padding: 3rem;
}

.import, .export {
    padding: 3rem 2rem; 
    margin: auto; 
}



.contact-form, .top-page {
  background-color: $color-pale;
}

.site-footer {
  background-color: $color-primary;
  color: white;
  padding: 5rem 0 2rem 0;
}

div.hours-info {
  padding: 2.5rem 0;
  line-height: rem;
}

div.info {
  padding: 1rem 0;
}


.site-footer ul{
  padding-inline-start: 0;
}

.copyright {
  line-height: 0.5rem;
  padding: 3rem 0 0 0;
}

